.comment-container {
  padding: 0.5rem 1rem 1rem;
}

.comment-container p {
  font-size: 1.5rem;
}

.comment-icon {
  border: 0;
  font-size: 1.8rem;
  color: #272727;
  padding: 0;
  margin-right: 0.7rem;
}

.comment a {
  color: #272727;
  font-weight: bold;
  text-decoration: none;
}

.comment p {
  font-size: 1.4rem;
}